*
!*/
!.gitignore
!.README.md
!/movie-catalog-service/src/**
!/movie-info-service/src/**
!/ratings-data-service/src/**
!/discovery-server/src/**
!/configuration project/spring-boot-config/src/**
!/configuration project/spring-cloud-config-server/src/**

!/movie-catalog-service/pom.xml
!/movie-info-service/pom.xml
!/ratings-data-service/pom.xml
!/discovery-server/pom.xml
!/configuration project/spring-boot-config/pom.xml
!/configuration project/spring-cloud-config-server/pom.xml
